.mod {
  justify-content: flex-start;
  width: 702PX;
  height: 672PX;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24PX;
}
.body {
  position: relative;
  justify-content: flex-start;
  align-self: center;
  width: 702PX;
}
.banner {
  align-self: flex-start;
  width: 702PX;
  height: 394PX;
}
.picture {
  position: absolute;
  left: 50%;
  bottom: 136PX;
  width: 120PX;
  height: 120PX;
}
.wrapper {
  position: absolute;
  left: 24PX;
  bottom: -18PX;
  justify-content: flex-start;
  width: 189PX;
  padding: 6PX 10PX;
  background-color: rgba(255, 185, 1, 1);
  border-radius: 6PX;
}
.organization {
  align-self: flex-end;
  font-size: 24PX;
  font-weight: 600;
  line-height: 24PX;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
}
.label {
  align-self: flex-end;
  margin-bottom: 23PX;
  font-size: 24PX;
  font-weight: 300;
  line-height: 24PX;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
}
.footer {
  justify-content: flex-start;
  align-self: center;
  width: 702PX;
  padding: 0 12PX 29PX;
  margin-top: 18PX;
}
.wrapper-1 {
  justify-content: flex-start;
  align-self: center;
  width: 678PX;
  padding: 12PX 0 22PX;
}
.caption {
  align-self: flex-start;
  overflow: hidden;
  max-width: 654PX;
  margin-left: 12PX;
  font-size: 32PX;
  font-weight: 500;
  line-height: 36PX;
  color: rgba(51, 51, 51, 1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.summary {
  display: -webkit-inline-box;
  align-self: center;
  overflow: hidden;
  width: 650PX;
  height: 80PX;
  margin: 16PX 4PX 0 0;
  font-size: 26PX;
  font-weight: 300;
  line-height: 40PX;
  color: rgba(136, 136, 136, 1);
  white-space: normal;
  text-overflow: ellipsis;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
}
.wrapper-2 {
  justify-content: flex-start;
  align-self: center;
  width: 678PX;
}
.group {
  justify-content: flex-start;
  align-self: center;
  width: 664PX;
}
.view {
  position: relative;
  justify-content: flex-start;
  align-self: center;
  height: 30PX;
  padding: 12PX 0;
  margin-left: 12PX;
}
.horizontal-line {
  align-self: flex-start;
  width: 583PX;
  height: 6PX;
  background-color: rgba(235, 235, 235, 1);
  border-radius: 3PX;
}
.bg {
  position: absolute;
  left: -7PX;
  top: 12PX;
  width: 400PX;
  height: 6PX;
}
.percent {
  align-self: center;
  margin-left: 12PX;
  font-size: 26PX;
  line-height: 30PX;
  color: rgba(255, 158, 0, 1);
  white-space: nowrap;
}
.group-1 {
  justify-content: flex-start;
  align-self: center;
  width: 664PX;
  margin-top: 4PX;
}
.view-1 {
  justify-content: flex-start;
  align-self: center;
  height: 31PX;
  margin-left: 5PX;
}
.num {
  align-self: center;
  margin-top: 1PX;
  font-size: 26PX;
  line-height: 30PX;
  color: rgba(255, 157, 0, 1);
  white-space: nowrap;
}
.tag {
  align-self: center;
  margin-bottom: 1PX;
  font-size: 22PX;
  font-weight: 300;
  line-height: 30PX;
  color: rgba(153, 153, 153, 1);
  white-space: nowrap;
}
.view-2 {
  justify-content: space-between;
  align-self: center;
  width: 205PX;
  height: 31PX;
  margin-left: 43PX;
}
.title {
  align-self: center;
  margin-top: 1PX;
  font-size: 26PX;
  line-height: 30PX;
  color: rgba(255, 157, 0, 1);
  white-space: nowrap;
}
.word {
  align-self: center;
  margin-bottom: 1PX;
  font-size: 22PX;
  font-weight: 300;
  line-height: 30PX;
  color: rgba(153, 153, 153, 1);
  white-space: nowrap;
}
