.searchBarContainer {
  padding: 12px;
  border-bottom: solid 1px #fff;
}
.checkListContainer {
  display: flex;
  height: 100PX;
  overflow-y: scroll;
}
.myCheckList {
  --border-top: 0;
  --border-bottom: 0;
}
.popupBox{
  height: 100PX;
}
.checkList{
  display: inline;
  width: 100%;
}
.vae-out{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20PX;
}
.vae-out-change{
  width: 95%;
  border: 2PX solid #f3f3f3;
  border-radius: 11PX; 
}
.vae-out-change-icon{
  position: absolute;
  right: 4%;
}